* {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
#game {
    border: 1px solid black;
    width: 190vh;
    height: 98vh;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
#playerTurn {

}
#playerBox {
    border: 1px solid black;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.player {
    border: 1px solid black;
    width: 20%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.influence {
    border: 1px solid black;
    width: 35%;
    height: 90%;
}
#middleCont {
    border: 1px solid black;
    width: 90%;
    height: 200px;
    margin: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#deck {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
#bank {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
#bottomCont {
    border: 1px solid black;
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#coupChallenge {
    border: 1px solid black;
    width: 20%;
    height: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
#challengeButton {
    border: 1px solid black;
    width: 90%;
    height: 70px;
    border-radius: 20px;
}
#coupButton {
    border: 1px solid black;
    width: 90%;
    height: 70px;
    border-radius: 20px;
}
#influenceBoard {
    border: 1px solid black;
    width: 50%;
    height: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
#influenceCards {
    border: 1px solid black;
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#duke {
    border: 1px solid black;
    width: 80px;
    height: 90%;
}
#captain {
    border: 1px solid black;
    width: 80px;
    height: 90%;
}
#assassin {
    border: 1px solid black;
    width: 80px;
    height: 90%;
}
#contessa {
    border: 1px solid black;
    width: 80px;
    height: 90%;
}
#inquisitor {
    border: 1px solid black;
    width: 80px;
    height: 90%;
}
#skipBlock {
    border: 1px solid black;
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#skip {
    border: 1px solid black;
    width: 30%;
    height: 80%;
}
#block {
    border: 1px solid black;
    width: 30%;
    height: 80%;
}
#money {
    border: 1px solid black;
    width: 20%;
    height: 90%;
}